* {
    font-family: 'SpotifyFont';
}

@font-face {
  font-family: 'SpotifyFont';
  src: url('assets/circular-std-medium-500.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'SpotifyFont', sans-serif;
}