@font-face {
  font-family: 'SpotifyFont';
  src: url('assets/circular-std-medium-500.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

* {
    font-family: 'SpotifyFont' !important;
}