<div class="center-container">
  <form
    [formGroup]="uploadMusicForm"
    class="upload-music-form"
    (ngSubmit)="addSong()"
  >
    <div class="form-title">
      <h2>Upload Music</h2>
    </div>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Song Title</mat-label>
      <input matInput required formControlName="title" />
      <mat-error
        *ngIf="
          uploadMusicForm.get('title')?.invalid &&
          uploadMusicForm.get('title')?.touched
        "
        >Please enter song title.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Genres</mat-label>
      <mat-select multiple required formControlName="genres">
        <mat-option *ngFor="let genre of genres" [value]="genre">
          {{ genre }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          uploadMusicForm.get('genres')?.invalid &&
          uploadMusicForm.get('genres')?.touched
        "
        >Please select song genres.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Artist</mat-label>
      <mat-select multiple formControlName="artistIds">
        <mat-option *ngFor="let artist of artists" [value]="artist.id">
          {{ artist.name }}
        </mat-option>
      </mat-select>
      <mat-error
        *ngIf="
          uploadMusicForm.get('artistIds')?.invalid &&
          uploadMusicForm.get('artistIds')?.touched
        "
        >Please select song artist.</mat-error
      >
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Album</mat-label>
      <mat-select formControlName="albumId">
        <mat-option *ngFor="let album of albums" [value]="album">
          {{ album }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="cover-upload-container">
      <label class="cover-label">Cover Image</label>
      <div class="cover-preview-wrapper">
        <div class="cover-preview" (click)="coverInput.click()">
          <ng-container *ngIf="coverPreview; else addCover">
            <img [src]="coverPreview" alt="Cover Preview" />
          </ng-container>
          <ng-template #addCover>
            <div class="add-cover-btn">
              <mat-icon>add_circle</mat-icon>
            </div>
          </ng-template>
        </div>
        <button
          *ngIf="coverPreview"
          type="button"
          class="remove-cover"
          (click)="removeCover(); $event.stopPropagation()"
        >
          <mat-icon>remove_circle</mat-icon>
        </button>
        <input
          #coverInput
          type="file"
          (change)="onCoverSelected($event)"
          hidden
        />
      </div>
      <mat-error *ngIf="submitted && !selectedCover"
        >Please upload song cover image.</mat-error
      >
    </div>

    <div class="audio-upload-container">
      <label class="audio-label">Audio File</label>
      <div class="audio-preview-wrapper">
        <ng-container *ngIf="audioPreview; else addAudio">
          <audio controls [src]="audioPreview"></audio>
          <button type="button" class="remove-audio" (click)="removeAudio()">
            <mat-icon>remove_circle</mat-icon>
          </button>
        </ng-container>
        <ng-template #addAudio>
          <label class="custom-file-upload">
            <input
              type="file"
              accept="audio/*"
              (change)="onAudioSelected($event)"
              hidden
            />
            <mat-icon>add_circle</mat-icon>
          </label>
        </ng-template>
      </div>
      <mat-error *ngIf="submitted && !selectedAudio"
        >Please upload song audio file.</mat-error
      >
    </div>

    <div class="form-buttons">
      <button mat-raised-button type="button" class="cancel">Cancel</button>
      <button mat-raised-button class="submit" type="submit">Upload</button>
    </div>
  </form>
</div>
